{% extends "layout.html" %}

{% block body %}
  <h1>Expense Budget</h1>

  <!-- Add Entry Form -->
  <div class="entry-form">
    <form id="entryForm" action = "{{ url_for('budget_add') }}" method="POST">

      <label for="entry-category">Category:</label>
      <select id="entry-category" name = "category" required>
        <option  disabled selected value> -- select an option --</option>
        {% for category in categories %}
        <option id = "{{ category['id'] }}" value="{{ category['category'] }}">{{ category['transaction_type'] }}: {{ category['category'] }}</option>
        {% endfor %}
      </select>

      <label for="entry-amount">Threshold Amount:</label>
      <input type="number" id="entry-amount" name = "threshold_amount" step="0.01" required>

      <label for="entry-freq">Period:</label>
      <select id="entry-freq" name = "frequency"required>
        <option  disabled selected value> -- select an option --</option>
        <option id = "freq1" value="Weekly">Weekly</option>
        <option id = "freq2" value="Bi-Weekly">Bi-Weekly</option>
        <option id = "freq3" value="Monthly">Monthly</option>
        <option id = "freq4" value="Bi-Monthly">Bi-Monthly</option>
        <option id = "freq5" value="6-Months">6-Months</option>
        <option id = "freq6" value="Yearly">Yearly</option>
      </select>

      <button type="submit">Add Budget Item</button>
    </form>
  </div>

  <!-- Entries Table -->
  <div class="entries">
    <h2>Current Budget Items</h2>
    <table id="entriesTable">
      <thead>
        <tr>
          <th>Category</th>
          <th>Threshold Amount</th>
          <th>Period [Days]</th>
        </tr>
      </thead>
      <tbody>
        {% for budget in budgets %}
            <tr data-id = "{{ budget['id'] }}">
                <td contenteditable="true" data-field="category">{{ budget['transaction_type'] }}: {{ budget['category'] }}</td>
                <td contenteditable="true" data-field="threshold_amount">{{ budget['threshold_per_period'] }}</td>
                <td contenteditable="true" data-field="period">{{ budget['period_days'] }}</td>
                <td><button class="delete-btn" onclick="deleteBudgetItem({{ budget['id'] }})">Delete</button></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/budget.js') }}"></script>
{% endblock %}