<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <title>Personal Finances</title>

</head>
<body>
<!--Navigation Bar-->
    <nav class="vertical-nav">
        <div class="nav-header">
            <h2>Expense Tracker</h2>
        </div>
    <ul class="nav-list">
        <li class="nav-item nav-item has-submenu">
            <a href="transactions" class="nav-link">Transactions</a>
            <ul class="submenu">
              <li><a href="transactions" class="submenu-link">Actuals</a></li>
<!--              <li><a href="scheduled_transactions" class="submenu-link">Scheduled</a></li>-->
<!--              <li><a href="predicted_transactions" class="submenu-link">Predicted</a></li>-->
            </ul>
        </li>
        <li class="nav-item">
            <a href="budget" class="nav-link">Budget</a>
        </li>
<!--      <li class="nav-item has-submenu">-->
<!--        <a href="#reports" class="nav-link">Reports</a>-->
<!--        <ul class="submenu">-->
<!--          <li><a href="/cashflow" class="submenu-link">Cashflow</a></li>-->
<!--        </ul>-->
<!--      </li>-->
      <li class="nav-item nav-item has-submenu">
        <a href="settings" class="nav-link">Settings</a>
        <ul class="submenu">
            <li><a href="transaction_sources" class="submenu-link">Manage Data Sources</a></li>
            <li><a href="categories" class="submenu-link">Manage Categories</a></li>
            <li><a href="vendors" class="submenu-link">Manage Vendors</a></li>
            <li><a href="auto_categorization" class="submenu-link">Manage Metadata Assignment</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <main class="content">
    {% block body %}{% endblock %}
  </main>

  <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
  {% block script %}{% endblock %}
</body>
</html>
